.location {
  text-decoration: none !important;
  .title {
    font-size: 20px;
  }
  .image__wrapper {
    height: 150px;
    width: 100%;
    overflow: hidden;
    img {
      height: 150px;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  .find__property {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
  }
}
