.row-hero {
  display: flex;
  flex-wrap: wrap;
}
.col-hero-title {
}
@media screen and (max-width: 768px) {
  .container-hero {
    width: 100%;
  }
  .col-hero-title {
    order: 1;
  }
  .hero-img-container img {
    margin-left: -40px;
    margin-right: -40px;
  }
}
