.carousel-caption {
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  // height: 100%;
  width: 50%;
  max-width: 600px;
  // transform: translateY(-50%);
  position: absolute;
  left: 0;
  bottom: 0px;
  // top: 50%;
  // display: flex !important;
  // justify-content: center;
  // align-items: center;
  h3 {
    // transform: translateY(-50%);
    font-size: 3rem;
    margin-bottom: 0;
  }
}
